name: CI/CD Process

on:
  push:
    branches: [ci/ci-cd]
  pull_request:
    branches: [ci/ci-cd]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Compile
        run: ./gradlew assemble

      - name: Run Tests
        run: ./gradlew test

      - name: Lint
        run: ./gradlew lint

      - name: Check Format
        run: ./gradlew checkFormat